/* ==========================================================================
   Forest skin
   ========================================================================== */

/* Colors */
$bamboo                     : #006442 !default;
$hanada                     : #044F8F !default;
$turkishaqua                : #006191 !default;

$link-color                 : $turkishaqua !default;
$footer-background-color    : $bamboo !default;
$border-color               : mix(#fff, $bamboo, 75%) !default;
$masthead-link-color        : $bamboo !default;
$masthead-link-color-hover  : $bamboo !default;
$navicon-link-color-hover   : mix(#fff, $bamboo, 80%) !default;

