---
layout: archive
classes: wide
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

{{ content }}

<p>
I am a fourth-year Ph.D. student in the Department of Philosophy at the University of California, Davis. My research primarily lies at the intersection of logic, the philosophy of cognitive science, and the philosophy of mathematics, but more generally, I am interested in any area of philosophy where formal methods, as well as empirical and historical considerations, can be informative.
</p>

<p>
Currently, I am focused on rigorously establishing the connection between the dialogical conception of logic and logical inferentialism. In this pursuit, I am working to develop and defend a view I call <i>dialogical inferentialism</i>. On the formal side, this involves producing results in proof theory pertaining to bilateralist proof systems and Prover-Skeptic games which characterize dialogues governed by logical norms. On the cognitive scientific side, this involves engaging with work from developmental psychology and linguistics on reasoning and pragmatics. Philosophically, this involves discerning the implications of these things for our understanding of human cognition and communication.
</p>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html locale=locale entries=posts type=entries_layout %}
</div>

{% include paginator.html locale=locale %}
